.list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.gameLine {
  display: flex;
  align-items: center;
  gap: 0 10px;
  a {
    padding: 8px 16px;
    background-color: #efefef;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    &:hover {
      background-color: #ddd;
    }
    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}

.create {
  margin-top: 20px;
}