.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 0 10px;
  position: relative;
  z-index: 2;
  height: 40px;
  padding: 0 20px;
  background-color: rgb(115, 85, 30);
  font-size: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.emoji {
  
}

.label {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 4px 0 rgb(95, 69, 4);
}

.body {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.paper {
  flex-grow: 1;
  max-width: 1000px;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}